:root{
  --tono1: #104f7c;
  --tono2: #286585;
  --tono3: #527f90;
  --tono4: #7c989d;
  --tono5: #a0acab;
  --tono6: #ffffff;
  --tono7: #ff0000;
}

html {
  scroll-behavior: smooth;
}

*{
  padding: 0px;
  max-width: 1400px;
  box-sizing: border-box;
  margin: auto;
  border-radius: 10px;
}
.body {
	background-image: linear-gradient(0deg, #ffffff 0%, #286585 100%);
  box-shadow: 46px 37px 42px 13px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 46px 37px 42px 13px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 46px 37px 42px 13px rgba(0, 0, 0, 0.86);
	color:#FFFFFF;
	font-size: 1rem;
  background-color: var(--tono6);
  font-family: "Roboto", sans-serif;
}

.classHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 160px;
  padding: 10px;
  background-color: var(--tono1);
  margin-bottom: 2%;
}

.headerLogo{
  margin: 0px;
  width: 140px;
  height: 140px;
}

.divHeaderBotones {
  margin: 0px;
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.headerLogoImagen {
  width: 140px;
  height: 140px;
}


.tipoBoton{
  display: flex;
  flex-direction: row;
}

.imgBoton {
  width: 50px;
  height: 50px;
}

.aBoton {
  /* background-color: greenyellow; */
  color: black;
  text-decoration: none;
  min-width: 155px;
  text-align: center;
  font-size: 1rem;
  padding: 15px;
}

.aBoton:link{
  text-decoration: none;

}

.main {
  padding-top: 20px;
}

.sectionAside {
  display:flex;
  flex-direction: row;
  width: 900;
	height: 600px;
	margin-bottom: 2%;  
}

.imagenCarousel{
  width: 840px;
  height: 525px;
}
.asideFoto{
    padding: 20px;
    width:450px;
    height:525px;
    color: black;
    text-align: justify;
    font-size: 1.1rem;
    border: 4px solid var(--tono1);
}

.sectionVideosArtista{
  display:flex;
  flex-direction: row;
  width: 900;
	height: 600px;
	margin-bottom: 2%;
}

.asideInformacion {
  width: 450px;
  font-size: 1.1rem;
  height: 525px;
  text-align: justify;
  color: black;
  padding: 20px;
  border: 4px solid var(--tono1);
}

/* .asideVideo{
  width:840px;
  height:525px;
} */


.mainDivAboutUs {
  background-color: red;
  width: 800px;
  height: 600px;
}
.mainDivOtros {
  background-color: blue;
  width: 800px;
  height: 600px;
}
.mainDivContact {
  background-color: yellow;
  width: 800px;
  height: 600px;
}

.classIframe{
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}

.footer {
  display: flex;
  height: 250px;
  background-color: var(--tono1);
}

.botonNavFooter {
  display: block;
  background-color: greenyellow;
  color: green;
  height: 50px;
  width: 130px;
  border-radius: 10px;
}
.colorLetraFooter {
  margin-top: 15%;
  display: flex;
  color: black;
  justify-content: center;
}

.botonNavFooter1 {
  display: block;
  background-color: greenyellow;
  color: green;
  height: auto;
  width: auto;
  border-radius: 10px;
  font-size: 1em; 
}