*{
  padding: 0px;
  width: 100%;
  margin: auto;
}

.classHeader {
  display: flex;
  flex-direction: row;
  /* align-content: space-around; */
  justify-content: space-around;
  height: 100px;
  background-color:cornflowerblue;
}
.headerLogo{
  width: 80px;
  height: 80px;
  background-color: red;
}

.divNavBar{
  display: flex;
}

.navBar{
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.tipoBoton{
  display: flex;
  flex-direction: row;
}

.botonNav{
  display: block;
  background-color: greenyellow;
  color: brown;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}

.main {
  padding-top: 20px;
}

.sectionCarrouselImagen {
  background-color: red;
  width: 80%;
  height: 400px;
  display: flex;
  gap: 500px;
}
/*.carrousel {

}*/

/*.sectionImagenArtista {
  background-color: red;
  width: 80%;
  height: 400px;
  display: flex;
  gap: 500px;
}*/

/*.imagenArtista {

}*/

/*.sectionVideosArtista{

}*/

.informacionArtista {
  width: 600px;
  height: 500px;
  background-color: blue;
}

.footer {
  height: 250px;
  background-color: chocolate;
}

.mainDivAboutUs {
  background-color: red;
  width: 800px;
  height: 600px;
}
.mainDivOtros {
  background-color: blue;
  width: 800px;
  height: 600px;
}
.mainDivContact {
  background-color: yellow;
  width: 800px;
  height: 600px;
}

.classIframe{
  width: 200px;
  height: 200px;
}